<div class="newMain">
    <% gifs.forEach (data => { %>
    <section>
        <li>
            <div class="container">
                <form name="data" method="post" action="/save">
                    <img src='<%= data.url%>' alt="Avatar" class="image">
                    <input type="hidden" name="data" value="<%=data.url%>">
                    <button id="butt" type="submit">select</button>
                </form>
            </div>
        </li>

    </section>

    <% }); %>
</div>