<div class="newMain">

    <% meme.forEach (data => { %>

    <section>
        <li>
            <div class="container">
                <form name="data" method="post" action="/save">
                    <input src='<%= data.url%>' alt="Avatar" class="image" type="image">
                    <input type="hidden" name="data" value="<%=data.url%>">
                </form>
            </div>
        </li>

    </section>

    <% }); %>
</div>