<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>

    <%- include('./partials/gifs') %>

</body>

<%- include('./partials/footer') %>

</html>