<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>


    <form id="searchForm2" method="get" action="/gif">
        <input id="input1" name="gifSearch" placeholder="enter giph">
        <button id="butt1" type="submit">Search Giphs</button>
    </form>


</body>

<%- include('./partials/footer') %>

</html>